<div class="collapse d-md-block show" id="filtersCollapse">
    <div
      class="bg-success-subtle border border-success px-2 py-1 mb-2
             d-flex align-items-center"
    >
      
      <div class="small text-success me-auto">
        Number of titles: {{ books|length }}
      </div>
  
      <form class="d-flex align-items-center mb-0" method="get" action="{{ url_for('books.book_titles') }}">
        <label for="cat" class="form-label small text-success mb-0 me-2">Category</label>
  
        <div class="input-group input-group-sm" style="width: auto;">
          <select id="cat" name="category" class="form-select form-select-sm">
            {% for c in categories %}
              <option value="{{ c }}" {% if c==selected %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-success" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  